<div class="body">
  <p> Users {{name}} and {{id}} .</p>  <!-- string interpolation {{name}} -->


  <div> <!-- property binding  [disabled]="!allowNewServer" -->
    <button
      class="btn btn-primary"
      [disabled]="!allowNewServer"
      (click)="onCreateServer($event)"
    >
      Add Server
    </button>

    <p>{{ allowNewServer }}</p>
    <p [innerText]="allowNewServer"></p>
  </div>

  <div> <!-- event binding  (input)="inputInfoMethod($event)" -->
    <input type="text" class="input" (input)="inputInfoMethod($event)">
    {{inputInfo}}
  </div>

  <div> <!-- Two-Way-Databinding  (input)="inputInfoMethod($event)" -->
    <input type="text" class="input" [(ngModel)]="inputInfoTwo">
    {{inputInfoTwo}}
  </div>

  <div>
    <input type="text" class="input" [(ngModel)]="serverName">
    {{ serverCreationStatus }}
  </div>

  <div class="task"> <!-- task -->
    <input type="text" class="input" [(ngModel)]="username">
    <p>{{ username }}</p>
    <br>
    <button
      class="btn btn-primary"
      [disabled]="!username"
      (click)="toEmtyString()"
    >
      Add name
    </button>
  </div>
</div>
<hr>

<div class="body-2"> <!-- *ngIf -->
  <p *ngIf="serverCreated">
    Server was created successfully, name is {{ name }}
  </p>
  <button
    class="btn btn-warning"
    (click)="serverCreate()"
  >
    Add name
  </button>
</div>
<hr>
<div class="body-2"> <!-- *ngIf else -->
  <p *ngIf="serverCreated; else notCreated">
    Server was created successfully, name is {{ name }}
  </p>
  <ng-template #notCreated>
    <p>Server was not created</p>
  </ng-template>
  <button
    class="btn btn-warning"
    (click)="serverCreate()"
  >
    Add name
  </button>
</div>
<hr>

<div class="body-3"> <!-- [ngStyle] -->
  <button class="btn btn-success" (click)="changeColor()">change color</button>
  <!-- <p [ngStyle]="{ backgroundColor: getColor()}">{{ serverStatus }}</p> -->
  <!-- <p [ngStyle]="{ 'background-color': getColor()}">{{ serverStatus }}</p> -->
  <p [ngStyle]="{ 'color': getColor()}">{{ serverStatus }}</p>
</div>

<div class="body-4"> <!-- [ngClass] -->
  <button class="btn btn-success" (click)="changeColorTwo()">change color</button>
  <p
    [ngStyle]="{ 'color': getColorTwo()}"

    [ngClass]="{ 'online': serverStatusTwo, 'offline': !serverStatusTwo}"
  >{{ serverStatus }}</p>
  <!-- [ngClass]="{ 'online': serverStatusTwo}" -->
</div>

<div class="body-5">
  <app-servers
  *ngFor="let server of serversArray"
  ></app-servers>
</div>

<!-- <div class="body-6">
  <button
    class="btn btn-primary"
    (click)="serverStatusTwo = !serverStatusTwo"
  >
    Display Details
  </button>
  <br>

  <p *ngIf="serverStatusTwo">
    {{ secretPass }}
  </p>
</div> -->

<!-- my solution -->
<!-- <div class="body-6">
  <button
    class="btn btn-primary"
    (click)="serverStatusChange()"
  >
    Display Details
  </button>
  <br>


  <div *ngIf="serverStatusTwo">
    <p
      *ngFor="let server of serversArrayTwo; let index = index"
      [ngStyle]="{ 'background-color': 'blue'}"
      [ngClass]="{ 'online': serverStatusTwo, 'offline': !serverStatusTwo}"
    >
      {{ secretPass }} {{ index }} {{ server }}
    </p>
  </div>
</div> -->

<div class="body-6">

  <!-- <button
    class="btn btn-primary"
    (click)="serverStatusTwo = !serverStatusTwo"
  >
    Display Details
  </button> -->

  <button
    class="btn btn-primary"
    (click)="serverStatusChange()"
  >
    Display Details
  </button>

  <br>
  <p *ngIf="serverStatusTwo">secret pass = tuna</p>
  <br>
  <div
    *ngFor="let l of log; let index = index"
    [ngStyle]="{ 'background-color': l >= 5 ? 'blue' : 'transparent' }"
    [ngClass]="{ 'red': l >= 5 }"
  >{{index}} {{l}}</div>

  <!-- <div *ngIf="serverStatusTwo">
    <p
      *ngFor="let server of serversArrayTwo; let index = index"
      [ngStyle]="{ 'background-color': 'blue'}"
      [ngClass]="{ 'online': serverStatusTwo, 'offline': !serverStatusTwo}"
    >
      {{ secretPass }} {{ index }} {{ server }}
    </p>
  </div> -->
</div>


