.body {
  padding: 20px;
  background: rgb(231, 173, 173) !important;
}

.task {
  background: rgb(161, 219, 181);
  margin-top: 25px;
  padding: 15px;
  width: 50%;
}

.body-2 {
  background: rgb(173, 179, 231) !important;
  padding: 20px;

  button {
    outline: none;
  }
}

.body-3 {
  background: rgb(231, 173, 217) !important;
  padding: 20px;

  button {
    outline: none;
  }
}

.body-4 {
  background: rgb(179, 224, 224) !important;
  padding: 20px;

  button {
    outline: none;
    margin: 10px 0px;
  }

  .online {
    background: rgb(181, 211, 153);
    border: 1px solid rgb(161, 223, 152);
    margin: 10px;
    padding: 10px;
  }

  .offline {
    background: rgb(211, 153, 182);
    border: 1px solid rgb(212, 93, 129);
    margin: 10px;
    padding: 10px;
  }
}
