<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <h3>AppComp !!!</h3>
      <hr> -->
      <!-- <app-server></app-server> -->
      <!-- <app-servers></app-servers> -->
      <!-- <warn-alert></warn-alert>
      <app-success></app-success> -->
      <!-- <app-servers></app-servers> -->
    </div>
  </div>
  <!-- <app-warning-alert></app-warning-alert> -->
  <!-- <warn-alert></warn-alert> -->
</div>


<div class="container">
  <!-- <app-cockpit
  (serverElements)="serverElementsMethod($event)"
  ></app-cockpit> -->
  <app-cockpit
  (srvrCreated)="onServerAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Element</button>
      <!-- <app-server-element *ngFor="let serverElement of serverElements"
      [element]="serverElement"
      ></app-server-element> -->
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvrElement]="serverElement"
        [name]="serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>

<hr>
<div class="container abs">
  <app-game-control
  (intervalFired)="number($event)"
  ></app-game-control>
  {{ showNumbers }}
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <p>DIRECTIVES</p>
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">

        <li
          class="list-group-item"
          *ngFor="let number of numbers"
        >
          {{number}}
        </li>

      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <p appBasicHighlight>STYLES</p>


      <p
        appBetterHighlight
        [highlightColor]="'yellow'"
        [defaultColor]="'pink'"
      >2222</p>


    </div>
  </div>
</div>

